/* global styling */

.container {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  background-color: #303030;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background: linear-gradient(to left, #5b6379, #303030);
}

div.heading {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

span {
  text-shadow: 0 1px #333, 0 2px #333, 0 3px #333, 0 4px #333, 0 5px #333,
    0 6px 0 transparent, 0 7px transparent, 0 8px transparent, 0 9px transparent,
    0 10px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce-title 0.8s ease-in alternate infinite;
  z-index: 3;
}

/* h1 {
  font-weight: 700;
  font-size: 50px;
} */

/* game board table */
#board {
  /* align-items: center; */
  width: 50%;
  margin: 0 auto;
  /* transform: scale(1.2); */
}

#board td {
  position: static;
  width: 55px;
  height: 50px;
  border: solid 1px #666;
  /* border-radius: 100%; */
  background-color: rgba(225, 225, 225, 0.351);
  background: linear-gradient(to left, #757f9a61, #d7dde854);
}

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: relative;
  animation-name: piece-drop;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  z-index: 4;
  /* animation: piece-drop 0.5s ease-out 0s; */
}

.piece.color1 {
  background-color: green;
  background-image: url('../img/green.png');
  background-position: center;
  background-size: 50px;
  /* box-shadow: inset 5px -5px 57px -9px rgba(0, 0, 0, 0.75); */
  /* border-radius: 100%; */
  /* border: 2px solid black; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}
.piece.color2 {
  background-color: purple;
  background-image: url('../img/purple.png');
  background-position: center;
  background-size: 50px;
  /* border: 2px solid black; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

#column-top td {
  border: solid 3px #333;
  border-bottom: solid 3px transparent;
  /* border-radius: 0 40px 40px 0; */
  border-top: solid 0px transparent;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.283);
}

#column-top td:hover {
  /* background-color: gold; */
  background-color: rgba(255, 255, 255, 0.001);
  cursor: pointer;
}

/* Winner message */
#msg-container {
  position: sticky;
  /* margin-bottom: -100px; */
}

.msg-win {
}

/* animations */
@keyframes piece-drop {
  0% {
    margin-top: -400px;
    display: none;
    opacity: 0%;
    background-color: transparent;
  }
  20% {
    display: none;
    opacity: 50%;
    background-color: transparent;

    transition: 0.5s;
  }
  50% {
    opacity: 100%;
  }
  75% {
    margin-top: -30 px;
  }

  100% {
    margin-top: -5px;
  }
}

@keyframes bounce-title {
  100% {
    top: -60px;
    text-shadow: 0 1px rgb(14, 14, 14), 0 2px rgb(14, 14, 14),
      0 3px rgb(14, 14, 14), 0 4px rgb(14, 14, 14), 0 5px rgb(14, 14, 14),
      0 6px rgb(14, 14, 14), 0 7pxrgb (14, 14, 14), 0 8pxrgb (14, 14, 14),
      0 9px rgb(14, 14, 14), 0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
span:nth-child(2) {
  animation-delay: 0.05s;
}
span:nth-child(3) {
  animation-delay: 0.1s;
}
span:nth-child(4) {
  animation-delay: 0.15s;
}
span:nth-child(5) {
  animation-delay: 0.2s;
}
span:nth-child(6) {
  animation-delay: 0.25s;
}
span:nth-child(7) {
  animation-delay: 0.3s;
}
span:nth-child(8) {
  animation-delay: 0.35s;
}
span:nth-child(9) {
  animation-delay: 0.4s;
}
span:nth-child(10) {
  animation-delay: 0.45s;
}
span:nth-child(11) {
  animation-delay: 0.5s;
}
span:nth-child(12) {
  animation-delay: 0.55s;
}
